
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en"><head>
		<script src="https://connect.facebook.net/signals/config/4265925653656607?v=2.9.250&amp;r=stable&amp;domain=192.168.100.9&amp;hme=842ba5a67bc11ec88742f1d93fdc2338abd91b60fc0531689cc660af96e193d9&amp;ex_m=94%2C156%2C134%2C20%2C66%2C67%2C127%2C62%2C42%2C128%2C71%2C61%2C10%2C141%2C80%2C15%2C93%2C122%2C115%2C69%2C72%2C121%2C138%2C102%2C143%2C7%2C3%2C4%2C6%2C5%2C2%2C81%2C91%2C144%2C223%2C167%2C56%2C225%2C226%2C49%2C182%2C27%2C68%2C231%2C230%2C170%2C29%2C55%2C9%2C58%2C87%2C88%2C89%2C95%2C118%2C28%2C26%2C120%2C117%2C116%2C135%2C70%2C137%2C136%2C44%2C54%2C111%2C14%2C140%2C39%2C212%2C214%2C177%2C23%2C24%2C25%2C17%2C18%2C38%2C34%2C36%2C35%2C76%2C82%2C86%2C100%2C126%2C129%2C40%2C101%2C21%2C19%2C107%2C63%2C32%2C131%2C130%2C132%2C123%2C22%2C31%2C53%2C99%2C139%2C64%2C16%2C133%2C104%2C75%2C30%2C192%2C163%2C282%2C210%2C154%2C195%2C188%2C164%2C97%2C119%2C74%2C109%2C48%2C41%2C43%2C103%2C108%2C114%2C52%2C59%2C113%2C47%2C50%2C46%2C90%2C142%2C0%2C112%2C13%2C110%2C11%2C1%2C51%2C83%2C57%2C60%2C106%2C79%2C78%2C145%2C146%2C84%2C85%2C8%2C92%2C45%2C124%2C77%2C73%2C65%2C105%2C96%2C37%2C125%2C33%2C98%2C12%2C147" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="importmap">
			{
				"imports": {
					"react/": "https://esm.sh/react@@^19.2.3/",
					"react": "https://esm.sh/react@@^19.2.3",
					"react-dom/": "https://esm.sh/react-dom@@^19.2.3/"
				}
			}
		</script>
		<script type="module">import { injectIntoGlobalHook } from "/@@react-refresh";
injectIntoGlobalHook(window);
window.$RefreshReg$ = () => {};
window.$RefreshSig$ = () => (type) => type;</script>

		<script type="module" src="/@@vite/client"></script>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Swift Networks | Truly Unlimited Broadband Lagos</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
		<style>
			body {
				font-family: 'Inter', sans-serif;
			}
			.lagos-gradient {
				background: linear-gradient(135deg, #ec2022 0%, #9b1517 100%);
			}
			html {
				scroll-behavior: smooth;
			}
		</style>

		<!-- Meta Pixel Code -->
		<script>
			!(function (f, b, e, v, n, t, s) {
				if (f.fbq) return;
				n = f.fbq = function () {
					n.callMethod
						? n.callMethod.apply(n, arguments)
						: n.queue.push(arguments);
				};
				if (!f._fbq) f._fbq = n;
				n.push = n;
				n.loaded = !0;
				n.version = '2.0';
				n.queue = [];
				t = b.createElement(e);
				t.async = !0;
				t.src = v;
				s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s);
			})(
				window,
				document,
				'script',
				'https://connect.facebook.net/en_US/fbevents.js',
			);
			fbq('init', '4265925653656607');
			fbq('track', 'PageView');
		</script>
		<!-- <noscript
			><img
				height="1"
				width="1"
				style="display: none"
				src="https://www.facebook.com/tr?id=4265925653656607&ev=PageView&noscript=1"
		/></noscript> -->
		<!-- End Meta Pixel Code -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="/index.css">
	<style type="text/css" data-vite-dev-id="C:/Users/peikore/Downloads/Swift Networks NG - COMPRESSED/Swift Networks NG/index.css">/*! tailwindcss v4.1.18 | MIT License | https://tailwindcss.com */
@@layer properties;
@@layer theme, base, components, utilities;
@@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-green-100: oklch(96.2% 0.044 156.743);
    --color-green-400: oklch(79.2% 0.209 151.711);
    --color-green-500: oklch(72.3% 0.219 149.579);
    --color-green-600: oklch(62.7% 0.194 149.214);
    --color-slate-50: oklch(98.4% 0.003 247.858);
    --color-slate-100: oklch(96.8% 0.007 247.896);
    --color-slate-200: oklch(92.9% 0.013 255.508);
    --color-slate-400: oklch(70.4% 0.04 256.788);
    --color-slate-500: oklch(55.4% 0.046 257.417);
    --color-slate-600: oklch(44.6% 0.043 257.281);
    --color-slate-700: oklch(37.2% 0.044 257.287);
    --color-slate-800: oklch(27.9% 0.041 260.031);
    --color-slate-900: oklch(20.8% 0.042 265.755);
    --color-white: #fff;
    --spacing: 0.25rem;
    --container-xl: 36rem;
    --container-3xl: 48rem;
    --container-6xl: 72rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;
    --leading-tight: 1.25;
    --leading-relaxed: 1.625;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --blur-3xl: 64px;
    --default-transition-duration: 150ms;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-swift-red: #ec2022;
    --color-swift-red-dark: #b3191a;
    --color-swift-red-light: #ffeded;
    --color-swift-dark: #111111;
    --color-swift-light: #f9f9f9;
  }
}
@@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp,
  pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  :-moz-focusring {
    outline: auto;
  }
  progress {
    vertical-align: baseline;
  }
  summary {
    display: list-item;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }
  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }
  ::file-selector-button {
    margin-inline-end: 4px;
  }
  ::-moz-placeholder {
    opacity: 1;
  }
  ::placeholder {
    opacity: 1;
  }
  @@supports (not (-webkit-appearance: -apple-pay-button))  or
    (contain-intrinsic-size: 1px) {
    ::-moz-placeholder {
      color: currentcolor;
      @@supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
    ::placeholder {
      color: currentcolor;
      @@supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }
  textarea {
    resize: vertical;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }
  ::-webkit-datetime-edit {
    display: inline-flex;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-year-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-second-field,
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }
  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  button,
  input:where([type="button"], [type="reset"], [type="submit"]),
  ::file-selector-button {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}
@@layer utilities {
  .absolute {
    position: absolute;
  }
  .fixed {
    position: fixed;
  }
  .relative {
    position: relative;
  }
  .static {
    position: static;
  }
  .sticky {
    position: sticky;
  }
  .-top-10 {
    top: calc(var(--spacing) * -10);
  }
  .-top-12 {
    top: calc(var(--spacing) * -12);
  }
  .top-0 {
    top: calc(var(--spacing) * 0);
  }
  .top-12 {
    top: calc(var(--spacing) * 12);
  }
  .-right-10 {
    right: calc(var(--spacing) * -10);
  }
  .-right-12 {
    right: calc(var(--spacing) * -12);
  }
  .right-0 {
    right: calc(var(--spacing) * 0);
  }
  .right-1\/4 {
    right: calc(1/4 * 100%);
  }
  .right-6 {
    right: calc(var(--spacing) * 6);
  }
  .right-8 {
    right: calc(var(--spacing) * 8);
  }
  .-bottom-2 {
    bottom: calc(var(--spacing) * -2);
  }
  .bottom-6 {
    bottom: calc(var(--spacing) * 6);
  }
  .bottom-8 {
    bottom: calc(var(--spacing) * 8);
  }
  .left-0 {
    left: calc(var(--spacing) * 0);
  }
  .left-1\/4 {
    left: calc(1/4 * 100%);
  }
  .-z-10 {
    z-index: calc(10 * -1);
  }
  .z-10 {
    z-index: 10;
  }
  .z-20 {
    z-index: 20;
  }
  .z-50 {
    z-index: 50;
  }
  .container {
    width: 100%;
    @@media (width >= 40rem) {
      max-width: 40rem;
    }
    @@media (width >= 48rem) {
      max-width: 48rem;
    }
    @@media (width >= 64rem) {
      max-width: 64rem;
    }
    @@media (width >= 80rem) {
      max-width: 80rem;
    }
    @@media (width >= 96rem) {
      max-width: 96rem;
    }
  }
  .mx-auto {
    margin-inline: auto;
  }
  .-mt-48 {
    margin-top: calc(var(--spacing) * -48);
  }
  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }
  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }
  .mt-6 {
    margin-top: calc(var(--spacing) * 6);
  }
  .mt-12 {
    margin-top: calc(var(--spacing) * 12);
  }
  .-mr-48 {
    margin-right: calc(var(--spacing) * -48);
  }
  .mb-1 {
    margin-bottom: calc(var(--spacing) * 1);
  }
  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }
  .mb-3 {
    margin-bottom: calc(var(--spacing) * 3);
  }
  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }
  .mb-5 {
    margin-bottom: calc(var(--spacing) * 5);
  }
  .mb-6 {
    margin-bottom: calc(var(--spacing) * 6);
  }
  .mb-8 {
    margin-bottom: calc(var(--spacing) * 8);
  }
  .mb-10 {
    margin-bottom: calc(var(--spacing) * 10);
  }
  .mb-16 {
    margin-bottom: calc(var(--spacing) * 16);
  }
  .mb-20 {
    margin-bottom: calc(var(--spacing) * 20);
  }
  .block {
    display: block;
  }
  .flex {
    display: flex;
  }
  .grid {
    display: grid;
  }
  .hidden {
    display: none;
  }
  .inline-flex {
    display: inline-flex;
  }
  .aspect-\[4\/5\] {
    aspect-ratio: 4/5;
  }
  .h-0\.5 {
    height: calc(var(--spacing) * 0.5);
  }
  .h-1 {
    height: calc(var(--spacing) * 1);
  }
  .h-2 {
    height: calc(var(--spacing) * 2);
  }
  .h-3 {
    height: calc(var(--spacing) * 3);
  }
  .h-4 {
    height: calc(var(--spacing) * 4);
  }
  .h-6 {
    height: calc(var(--spacing) * 6);
  }
  .h-8 {
    height: calc(var(--spacing) * 8);
  }
  .h-10 {
    height: calc(var(--spacing) * 10);
  }
  .h-12 {
    height: calc(var(--spacing) * 12);
  }
  .h-14 {
    height: calc(var(--spacing) * 14);
  }
  .h-16 {
    height: calc(var(--spacing) * 16);
  }
  .h-20 {
    height: calc(var(--spacing) * 20);
  }
  .h-32 {
    height: calc(var(--spacing) * 32);
  }
  .h-48 {
    height: calc(var(--spacing) * 48);
  }
  .h-96 {
    height: calc(var(--spacing) * 96);
  }
  .h-full {
    height: 100%;
  }
  .min-h-\[95vh\] {
    min-height: 95vh;
  }
  .min-h-screen {
    min-height: 100vh;
  }
  .w-2 {
    width: calc(var(--spacing) * 2);
  }
  .w-3 {
    width: calc(var(--spacing) * 3);
  }
  .w-4 {
    width: calc(var(--spacing) * 4);
  }
  .w-6 {
    width: calc(var(--spacing) * 6);
  }
  .w-8 {
    width: calc(var(--spacing) * 8);
  }
  .w-10 {
    width: calc(var(--spacing) * 10);
  }
  .w-12 {
    width: calc(var(--spacing) * 12);
  }
  .w-14 {
    width: calc(var(--spacing) * 14);
  }
  .w-16 {
    width: calc(var(--spacing) * 16);
  }
  .w-20 {
    width: calc(var(--spacing) * 20);
  }
  .w-24 {
    width: calc(var(--spacing) * 24);
  }
  .w-32 {
    width: calc(var(--spacing) * 32);
  }
  .w-48 {
    width: calc(var(--spacing) * 48);
  }
  .w-96 {
    width: calc(var(--spacing) * 96);
  }
  .w-full {
    width: 100%;
  }
  .max-w-3xl {
    max-width: var(--container-3xl);
  }
  .max-w-6xl {
    max-width: var(--container-6xl);
  }
  .max-w-\[250px\] {
    max-width: 250px;
  }
  .max-w-xl {
    max-width: var(--container-xl);
  }
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  .translate-y-0 {
    --tw-translate-y: calc(var(--spacing) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .translate-y-10 {
    --tw-translate-y: calc(var(--spacing) * 10);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .scale-110 {
    --tw-scale-x: 110%;
    --tw-scale-y: 110%;
    --tw-scale-z: 110%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
  }
  .-rotate-1 {
    rotate: calc(1deg * -1);
  }
  .rotate-3 {
    rotate: 3deg;
  }
  .transform {
    transform: var(--tw-rotate-x,) var(--tw-rotate-y,) var(--tw-rotate-z,) var(--tw-skew-x,) var(--tw-skew-y,);
  }
  .animate-pulse {
    animation: var(--animate-pulse);
  }
  .flex-col {
    flex-direction: column;
  }
  .items-baseline {
    align-items: baseline;
  }
  .items-center {
    align-items: center;
  }
  .items-start {
    align-items: flex-start;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .gap-1 {
    gap: calc(var(--spacing) * 1);
  }
  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }
  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }
  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }
  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }
  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }
  .gap-8 {
    gap: calc(var(--spacing) * 8);
  }
  .gap-10 {
    gap: calc(var(--spacing) * 10);
  }
  .gap-12 {
    gap: calc(var(--spacing) * 12);
  }
  .space-y-1 {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 1) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
  .space-y-3 {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 3) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 3) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
  .space-y-4 {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 4) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
  .space-y-6 {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 6) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
  .space-y-8 {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 8) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
  .gap-x-8 {
    -moz-column-gap: calc(var(--spacing) * 8);
         column-gap: calc(var(--spacing) * 8);
  }
  .gap-y-6 {
    row-gap: calc(var(--spacing) * 6);
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }
  .rounded-3xl {
    border-radius: var(--radius-3xl);
  }
  .rounded-\[40px\] {
    border-radius: 40px;
  }
  .rounded-full {
    border-radius: calc(infinity * 1px);
  }
  .rounded-lg {
    border-radius: var(--radius-lg);
  }
  .rounded-xl {
    border-radius: var(--radius-xl);
  }
  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }
  .border-4 {
    border-style: var(--tw-border-style);
    border-width: 4px;
  }
  .border-8 {
    border-style: var(--tw-border-style);
    border-width: 8px;
  }
  .border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }
  .border-slate-100 {
    border-color: var(--color-slate-100);
  }
  .border-slate-200 {
    border-color: var(--color-slate-200);
  }
  .border-swift-red-dark {
    border-color: var(--color-swift-red-dark);
  }
  .border-swift-red\/20 {
    border-color: color-mix(in srgb, #ec2022 20%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-swift-red) 20%, transparent);
    }
  }
  .border-swift-red\/30 {
    border-color: color-mix(in srgb, #ec2022 30%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-swift-red) 30%, transparent);
    }
  }
  .border-white {
    border-color: var(--color-white);
  }
  .border-white\/10 {
    border-color: color-mix(in srgb, #fff 10%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-white) 10%, transparent);
    }
  }
  .border-white\/20 {
    border-color: color-mix(in srgb, #fff 20%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-white) 20%, transparent);
    }
  }
  .bg-green-100 {
    background-color: var(--color-green-100);
  }
  .bg-green-500 {
    background-color: var(--color-green-500);
  }
  .bg-slate-50 {
    background-color: var(--color-slate-50);
  }
  .bg-slate-100 {
    background-color: var(--color-slate-100);
  }
  .bg-slate-200 {
    background-color: var(--color-slate-200);
  }
  .bg-swift-dark {
    background-color: var(--color-swift-dark);
  }
  .bg-swift-light {
    background-color: var(--color-swift-light);
  }
  .bg-swift-red {
    background-color: var(--color-swift-red);
  }
  .bg-swift-red-light {
    background-color: var(--color-swift-red-light);
  }
  .bg-swift-red\/5 {
    background-color: color-mix(in srgb, #ec2022 5%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-swift-red) 5%, transparent);
    }
  }
  .bg-swift-red\/10 {
    background-color: color-mix(in srgb, #ec2022 10%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-swift-red) 10%, transparent);
    }
  }
  .bg-transparent {
    background-color: transparent;
  }
  .bg-white {
    background-color: var(--color-white);
  }
  .bg-white\/5 {
    background-color: color-mix(in srgb, #fff 5%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-white) 5%, transparent);
    }
  }
  .bg-white\/10 {
    background-color: color-mix(in srgb, #fff 10%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-white) 10%, transparent);
    }
  }
  .bg-white\/90 {
    background-color: color-mix(in srgb, #fff 90%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-white) 90%, transparent);
    }
  }
  .object-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .object-cover {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .p-3 {
    padding: calc(var(--spacing) * 3);
  }
  .p-4 {
    padding: calc(var(--spacing) * 4);
  }
  .p-6 {
    padding: calc(var(--spacing) * 6);
  }
  .p-8 {
    padding: calc(var(--spacing) * 8);
  }
  .p-10 {
    padding: calc(var(--spacing) * 10);
  }
  .px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }
  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }
  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }
  .px-10 {
    padding-inline: calc(var(--spacing) * 10);
  }
  .py-1 {
    padding-block: calc(var(--spacing) * 1);
  }
  .py-1\.5 {
    padding-block: calc(var(--spacing) * 1.5);
  }
  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }
  .py-2\.5 {
    padding-block: calc(var(--spacing) * 2.5);
  }
  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }
  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }
  .py-5 {
    padding-block: calc(var(--spacing) * 5);
  }
  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }
  .py-24 {
    padding-block: calc(var(--spacing) * 24);
  }
  .pt-4 {
    padding-top: calc(var(--spacing) * 4);
  }
  .pt-6 {
    padding-top: calc(var(--spacing) * 6);
  }
  .pt-8 {
    padding-top: calc(var(--spacing) * 8);
  }
  .pt-24 {
    padding-top: calc(var(--spacing) * 24);
  }
  .text-center {
    text-align: center;
  }
  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }
  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }
  .text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }
  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }
  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }
  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }
  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }
  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }
  .text-\[10px\] {
    font-size: 10px;
  }
  .text-\[11px\] {
    font-size: 11px;
  }
  .leading-\[1\.05\] {
    --tw-leading: 1.05;
    line-height: 1.05;
  }
  .leading-relaxed {
    --tw-leading: var(--leading-relaxed);
    line-height: var(--leading-relaxed);
  }
  .leading-tight {
    --tw-leading: var(--leading-tight);
    line-height: var(--leading-tight);
  }
  .font-black {
    --tw-font-weight: var(--font-weight-black);
    font-weight: var(--font-weight-black);
  }
  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }
  .font-extrabold {
    --tw-font-weight: var(--font-weight-extrabold);
    font-weight: var(--font-weight-extrabold);
  }
  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }
  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }
  .tracking-\[0\.2em\] {
    --tw-tracking: 0.2em;
    letter-spacing: 0.2em;
  }
  .tracking-\[0\.3em\] {
    --tw-tracking: 0.3em;
    letter-spacing: 0.3em;
  }
  .tracking-\[0\.4em\] {
    --tw-tracking: 0.4em;
    letter-spacing: 0.4em;
  }
  .tracking-tight {
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);
  }
  .tracking-tighter {
    --tw-tracking: var(--tracking-tighter);
    letter-spacing: var(--tracking-tighter);
  }
  .tracking-wide {
    --tw-tracking: var(--tracking-wide);
    letter-spacing: var(--tracking-wide);
  }
  .tracking-wider {
    --tw-tracking: var(--tracking-wider);
    letter-spacing: var(--tracking-wider);
  }
  .tracking-widest {
    --tw-tracking: var(--tracking-widest);
    letter-spacing: var(--tracking-widest);
  }
  .text-green-400 {
    color: var(--color-green-400);
  }
  .text-green-500 {
    color: var(--color-green-500);
  }
  .text-slate-400 {
    color: var(--color-slate-400);
  }
  .text-slate-500 {
    color: var(--color-slate-500);
  }
  .text-slate-600 {
    color: var(--color-slate-600);
  }
  .text-slate-700 {
    color: var(--color-slate-700);
  }
  .text-slate-800 {
    color: var(--color-slate-800);
  }
  .text-slate-900 {
    color: var(--color-slate-900);
  }
  .text-swift-dark {
    color: var(--color-swift-dark);
  }
  .text-swift-red {
    color: var(--color-swift-red);
  }
  .text-swift-red-dark {
    color: var(--color-swift-red-dark);
  }
  .text-swift-red-light {
    color: var(--color-swift-red-light);
  }
  .text-white {
    color: var(--color-white);
  }
  .text-white\/40 {
    color: color-mix(in srgb, #fff 40%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, var(--color-white) 40%, transparent);
    }
  }
  .text-white\/50 {
    color: color-mix(in srgb, #fff 50%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, var(--color-white) 50%, transparent);
    }
  }
  .text-white\/60 {
    color: color-mix(in srgb, #fff 60%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, var(--color-white) 60%, transparent);
    }
  }
  .text-white\/80 {
    color: color-mix(in srgb, #fff 80%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, var(--color-white) 80%, transparent);
    }
  }
  .text-white\/90 {
    color: color-mix(in srgb, #fff 90%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, var(--color-white) 90%, transparent);
    }
  }
  .uppercase {
    text-transform: uppercase;
  }
  .italic {
    font-style: italic;
  }
  .line-through {
    text-decoration-line: line-through;
  }
  .underline {
    text-decoration-line: underline;
  }
  .decoration-swift-red {
    text-decoration-color: var(--color-swift-red);
  }
  .decoration-4 {
    text-decoration-thickness: 4px;
  }
  .underline-offset-8 {
    text-underline-offset: 8px;
  }
  .opacity-0 {
    opacity: 0%;
  }
  .opacity-40 {
    opacity: 40%;
  }
  .opacity-70 {
    opacity: 70%;
  }
  .opacity-80 {
    opacity: 80%;
  }
  .opacity-90 {
    opacity: 90%;
  }
  .opacity-100 {
    opacity: 100%;
  }
  .shadow-2xl {
    --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-\[0_10px_20px_-5px_rgba\(236\,32\,34\,0\.4\)\] {
    --tw-shadow: 0 10px 20px -5px var(--tw-shadow-color, rgba(236,32,34,0.4));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-\[0_20px_40px_-10px_rgba\(236\,32\,34\,0\.3\)\] {
    --tw-shadow: 0 20px 40px -10px var(--tw-shadow-color, rgba(236,32,34,0.3));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-\[0_30px_60px_-15px_rgba\(0\,0\,0\,0\.1\)\] {
    --tw-shadow: 0 30px 60px -15px var(--tw-shadow-color, rgba(0,0,0,0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-\[0_35px_60px_-35px_rgba\(15\,23\,42\,0\.6\)\] {
    --tw-shadow: 0 35px 60px -35px var(--tw-shadow-color, rgba(15,23,42,0.6));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-\[0_40px_80px_-20px_rgba\(0\,0\,0\,0\.2\)\] {
    --tw-shadow: 0 40px 80px -20px var(--tw-shadow-color, rgba(0,0,0,0.2));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-lg {
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-md {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-xl {
    --tw-shadow: 0 20px 25px -5px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 8px 10px -6px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .ring-2 {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .shadow-slate-200\/50 {
    --tw-shadow-color: color-mix(in srgb, oklch(92.9% 0.013 255.508) 50%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      --tw-shadow-color: color-mix(in oklab, color-mix(in oklab, var(--color-slate-200) 50%, transparent) var(--tw-shadow-alpha), transparent);
    }
  }
  .shadow-swift-red\/5 {
    --tw-shadow-color: color-mix(in srgb, #ec2022 5%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      --tw-shadow-color: color-mix(in oklab, color-mix(in oklab, var(--color-swift-red) 5%, transparent) var(--tw-shadow-alpha), transparent);
    }
  }
  .shadow-swift-red\/20 {
    --tw-shadow-color: color-mix(in srgb, #ec2022 20%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      --tw-shadow-color: color-mix(in oklab, color-mix(in oklab, var(--color-swift-red) 20%, transparent) var(--tw-shadow-alpha), transparent);
    }
  }
  .ring-swift-red\/30 {
    --tw-ring-color: color-mix(in srgb, #ec2022 30%, transparent);
    @@supports (color: color-mix(in lab, red, red)) {
      --tw-ring-color: color-mix(in oklab, var(--color-swift-red) 30%, transparent);
    }
  }
  .blur-3xl {
    --tw-blur: blur(var(--blur-3xl));
    filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
  }
  .blur-\[100px\] {
    --tw-blur: blur(100px);
    filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
  }
  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
  .transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
  .delay-100 {
    transition-delay: 100ms;
  }
  .duration-300 {
    --tw-duration: 300ms;
    transition-duration: 300ms;
  }
  .duration-500 {
    --tw-duration: 500ms;
    transition-duration: 500ms;
  }
  .duration-700 {
    --tw-duration: 700ms;
    transition-duration: 700ms;
  }
  .duration-1000 {
    --tw-duration: 1000ms;
    transition-duration: 1000ms;
  }
  .ease-in-out {
    --tw-ease: var(--ease-in-out);
    transition-timing-function: var(--ease-in-out);
  }
  .ease-out {
    --tw-ease: var(--ease-out);
    transition-timing-function: var(--ease-out);
  }
  .group-hover\:scale-110 {
    &:is(:where(.group):hover *) {
      @@media (hover: hover) {
        --tw-scale-x: 110%;
        --tw-scale-y: 110%;
        --tw-scale-z: 110%;
        scale: var(--tw-scale-x) var(--tw-scale-y);
      }
    }
  }
  .group-hover\:shadow-\[0_40px_100px_-20px_rgba\(236\,32\,34\,0\.15\)\] {
    &:is(:where(.group):hover *) {
      @@media (hover: hover) {
        --tw-shadow: 0 40px 100px -20px var(--tw-shadow-color, rgba(236,32,34,0.15));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      }
    }
  }
  .selection\:bg-swift-red {
    & *::-moz-selection {
      background-color: var(--color-swift-red);
    }
    & *::selection {
      background-color: var(--color-swift-red);
    }
    &::-moz-selection {
      background-color: var(--color-swift-red);
    }
    &::selection {
      background-color: var(--color-swift-red);
    }
  }
  .selection\:text-white {
    & *::-moz-selection {
      color: var(--color-white);
    }
    & *::selection {
      color: var(--color-white);
    }
    &::-moz-selection {
      color: var(--color-white);
    }
    &::selection {
      color: var(--color-white);
    }
  }
  .hover\:-translate-y-1 {
    &:hover {
      @@media (hover: hover) {
        --tw-translate-y: calc(var(--spacing) * -1);
        translate: var(--tw-translate-x) var(--tw-translate-y);
      }
    }
  }
  .hover\:-translate-y-2 {
    &:hover {
      @@media (hover: hover) {
        --tw-translate-y: calc(var(--spacing) * -2);
        translate: var(--tw-translate-x) var(--tw-translate-y);
      }
    }
  }
  .hover\:scale-105 {
    &:hover {
      @@media (hover: hover) {
        --tw-scale-x: 105%;
        --tw-scale-y: 105%;
        --tw-scale-z: 105%;
        scale: var(--tw-scale-x) var(--tw-scale-y);
      }
    }
  }
  .hover\:border-swift-red {
    &:hover {
      @@media (hover: hover) {
        border-color: var(--color-swift-red);
      }
    }
  }
  .hover\:bg-green-600 {
    &:hover {
      @@media (hover: hover) {
        background-color: var(--color-green-600);
      }
    }
  }
  .hover\:bg-slate-200 {
    &:hover {
      @@media (hover: hover) {
        background-color: var(--color-slate-200);
      }
    }
  }
  .hover\:bg-swift-red-dark {
    &:hover {
      @@media (hover: hover) {
        background-color: var(--color-swift-red-dark);
      }
    }
  }
  .hover\:bg-white {
    &:hover {
      @@media (hover: hover) {
        background-color: var(--color-white);
      }
    }
  }
  .hover\:text-swift-red {
    &:hover {
      @@media (hover: hover) {
        color: var(--color-swift-red);
      }
    }
  }
  .hover\:text-white {
    &:hover {
      @@media (hover: hover) {
        color: var(--color-white);
      }
    }
  }
  .hover\:shadow-2xl {
    &:hover {
      @@media (hover: hover) {
        --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      }
    }
  }
  .hover\:shadow-swift-red\/10 {
    &:hover {
      @@media (hover: hover) {
        --tw-shadow-color: color-mix(in srgb, #ec2022 10%, transparent);
        @@supports (color: color-mix(in lab, red, red)) {
          --tw-shadow-color: color-mix(in oklab, color-mix(in oklab, var(--color-swift-red) 10%, transparent) var(--tw-shadow-alpha), transparent);
        }
      }
    }
  }
  .focus\:ring-2 {
    &:focus {
      --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }
  .focus\:ring-swift-red {
    &:focus {
      --tw-ring-color: var(--color-swift-red);
    }
  }
  .focus\:outline-none {
    &:focus {
      --tw-outline-style: none;
      outline-style: none;
    }
  }
  .active\:scale-95 {
    &:active {
      --tw-scale-x: 95%;
      --tw-scale-y: 95%;
      --tw-scale-z: 95%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }
  .sm\:w-auto {
    @@media (width >= 40rem) {
      width: auto;
    }
  }
  .sm\:flex-row {
    @@media (width >= 40rem) {
      flex-direction: row;
    }
  }
  .md\:block {
    @@media (width >= 48rem) {
      display: block;
    }
  }
  .md\:flex {
    @@media (width >= 48rem) {
      display: flex;
    }
  }
  .md\:hidden {
    @@media (width >= 48rem) {
      display: none;
    }
  }
  .md\:h-40 {
    @@media (width >= 48rem) {
      height: calc(var(--spacing) * 40);
    }
  }
  .md\:w-8 {
    @@media (width >= 48rem) {
      width: calc(var(--spacing) * 8);
    }
  }
  .md\:w-40 {
    @@media (width >= 48rem) {
      width: calc(var(--spacing) * 40);
    }
  }
  .md\:scale-125 {
    @@media (width >= 48rem) {
      --tw-scale-x: 125%;
      --tw-scale-y: 125%;
      --tw-scale-z: 125%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }
  .md\:grid-cols-2 {
    @@media (width >= 48rem) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  .md\:grid-cols-4 {
    @@media (width >= 48rem) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  .md\:p-8 {
    @@media (width >= 48rem) {
      padding: calc(var(--spacing) * 8);
    }
  }
  .md\:p-14 {
    @@media (width >= 48rem) {
      padding: calc(var(--spacing) * 14);
    }
  }
  .md\:p-16 {
    @@media (width >= 48rem) {
      padding: calc(var(--spacing) * 16);
    }
  }
  .md\:px-6 {
    @@media (width >= 48rem) {
      padding-inline: calc(var(--spacing) * 6);
    }
  }
  .md\:text-5xl {
    @@media (width >= 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
  }
  .md\:text-7xl {
    @@media (width >= 48rem) {
      font-size: var(--text-7xl);
      line-height: var(--tw-leading, var(--text-7xl--line-height));
    }
  }
  .lg\:col-span-2 {
    @@media (width >= 64rem) {
      grid-column: span 2 / span 2;
    }
  }
  .lg\:col-span-3 {
    @@media (width >= 64rem) {
      grid-column: span 3 / span 3;
    }
  }
  .lg\:block {
    @@media (width >= 64rem) {
      display: block;
    }
  }
  .lg\:grid {
    @@media (width >= 64rem) {
      display: grid;
    }
  }
  .lg\:hidden {
    @@media (width >= 64rem) {
      display: none;
    }
  }
  .lg\:aspect-auto {
    @@media (width >= 64rem) {
      aspect-ratio: auto;
    }
  }
  .lg\:w-1\/2 {
    @@media (width >= 64rem) {
      width: calc(1/2 * 100%);
    }
  }
  .lg\:grid-cols-2 {
    @@media (width >= 64rem) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  .lg\:grid-cols-3 {
    @@media (width >= 64rem) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  .lg\:grid-cols-4 {
    @@media (width >= 64rem) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  .lg\:grid-cols-5 {
    @@media (width >= 64rem) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
  .lg\:flex-row {
    @@media (width >= 64rem) {
      flex-direction: row;
    }
  }
  .lg\:text-7xl {
    @@media (width >= 64rem) {
      font-size: var(--text-7xl);
      line-height: var(--tw-leading, var(--text-7xl--line-height));
    }
  }
}
@@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}
@@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}
@@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}
@@property --tw-rotate-x {
  syntax: "*";
  inherits: false;
}
@@property --tw-rotate-y {
  syntax: "*";
  inherits: false;
}
@@property --tw-rotate-z {
  syntax: "*";
  inherits: false;
}
@@property --tw-skew-x {
  syntax: "*";
  inherits: false;
}
@@property --tw-skew-y {
  syntax: "*";
  inherits: false;
}
@@property --tw-space-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
@@property --tw-leading {
  syntax: "*";
  inherits: false;
}
@@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}
@@property --tw-tracking {
  syntax: "*";
  inherits: false;
}
@@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@@property --tw-shadow-color {
  syntax: "*";
  inherits: false;
}
@@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false;
}
@@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@@property --tw-ring-color {
  syntax: "*";
  inherits: false;
}
@@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false;
}
@@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@@property --tw-ring-inset {
  syntax: "*";
  inherits: false;
}
@@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}
@@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@@property --tw-blur {
  syntax: "*";
  inherits: false;
}
@@property --tw-brightness {
  syntax: "*";
  inherits: false;
}
@@property --tw-contrast {
  syntax: "*";
  inherits: false;
}
@@property --tw-grayscale {
  syntax: "*";
  inherits: false;
}
@@property --tw-hue-rotate {
  syntax: "*";
  inherits: false;
}
@@property --tw-invert {
  syntax: "*";
  inherits: false;
}
@@property --tw-opacity {
  syntax: "*";
  inherits: false;
}
@@property --tw-saturate {
  syntax: "*";
  inherits: false;
}
@@property --tw-sepia {
  syntax: "*";
  inherits: false;
}
@@property --tw-drop-shadow {
  syntax: "*";
  inherits: false;
}
@@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false;
}
@@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false;
}
@@property --tw-duration {
  syntax: "*";
  inherits: false;
}
@@property --tw-ease {
  syntax: "*";
  inherits: false;
}
@@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@@layer properties {
  @@supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
    *, ::before, ::after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-space-y-reverse: 0;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-ease: initial;
    }
  }
}
</style></head>
	<body>
		<div id="root"><div class="min-h-screen bg-white text-slate-900 overflow-x-hidden selection:bg-swift-red selection:text-white"><header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 bg-transparent py-5"><div class="container mx-auto px-4 md:px-6 flex justify-between items-center"><div class="flex items-center gap-2"><div class="w-10 h-10  rounded-lg flex items-center justify-center"><img alt="" class="w-10 h-10" src="~/Content/swiftlogo.jfif"></div><div class="flex flex-col"><span class="text-xl font-extrabold tracking-tight text-white">SWIFT<span class="text-white"> NETWORKS</span></span><span class="text-sm font-extrabold tracking-tight text-white">Do more. Achieve More</span></div></div></div></header><main><div class="reveal-on-scroll transition-all duration-1000 opacity-100 translate-y-0"><section class="relative min-h-[95vh] flex items-center pt-24 overflow-hidden bg-white"><div class="absolute top-0 right-0 w-4 md:w-8 h-full bg-swift-red hidden lg:block"></div><div class="container mx-auto px-4 md:px-6 z-10 grid lg:grid-cols-2 gap-12 items-center"><div class="space-y-8 animate-fadeIn"><div class="inline-flex items-center gap-2 px-4 py-1.5 rounded-full bg-swift-red-light border border-swift-red/20"><span class="w-2 h-2 bg-swift-red rounded-full animate-pulse"></span><span class="text-sm font-bold tracking-widest uppercase text-swift-red">Lagos Elite Broadband</span></div><div class="lg:hidden mt-4 rounded-3xl bg-white/90 border border-swift-red/30 px-4 py-3 shadow-[0_35px_60px_-35px_rgba(15,23,42,0.6)] space-y-1 animate-limited-badge"><p class="text-[10px] tracking-[0.4em] uppercase text-swift-red-dark">Limited-time offer</p><div class="flex items-baseline gap-3"><span class="text-xs font-bold text-slate-400 line-through">₦96,000</span><span class="text-3xl font-black text-swift-red">₦50,000</span></div><p class="text-[11px] text-slate-500">Now with 4G LTE modem + Easy Setup (Plug and Play).</p></div><h1 class="text-5xl md:text-7xl font-black leading-[1.05] tracking-tight text-swift-dark">Get <span class="text-swift-red">unlimited</span> <br>downloads from <br><span class="relative">SWIFT<span class="absolute -bottom-2 left-0 w-full h-2 bg-swift-red/10 -rotate-1"></span></span> NETWORKS</h1><ul class="space-y-4"><li class="flex items-center gap-3 text-lg font-bold text-slate-700"><span class="w-2 h-2 bg-swift-red"></span>Fast and Reliable Speed</li><li class="flex items-center gap-3 text-lg font-bold text-slate-700"><span class="w-2 h-2 bg-swift-red"></span>No Speed Throttling</li><li class="flex items-center gap-3 text-lg font-bold text-slate-700"><span class="w-2 h-2 bg-swift-red"></span>30-Days Money Back Guarantee</li></ul><div class="flex flex-col sm:flex-row gap-5 pt-4"><a href="#contact" class="px-10 py-5 bg-swift-red hover:bg-swift-red-dark text-white font-black rounded-xl text-center shadow-[0_20px_40px_-10px_rgba(236,32,34,0.3)] transition-all transform hover:-translate-y-1 active:scale-95">GET STARTED NOW</a><a href="#plans" class="px-10 py-5 bg-swift-light hover:bg-slate-200 text-swift-dark font-black rounded-xl text-center transition-all border border-slate-200">VIEW ALL PLANS</a></div><p class="text-sm text-slate-400 font-medium italic">* Available for Residents in Lagos Island, Mainland &amp; Greater Lagos Areas.</p></div><div class="relative group"><div class="absolute -top-10 -right-10 w-32 h-32 md:w-40 md:h-40 bg-white shadow-2xl rounded-full z-20 flex items-center justify-center p-4 border border-slate-100 hidden md:flex"><img alt="Speed Gauge" class="w-full h-full object-contain animate-pulse" src="https://img.icons8.com/color/144/speedometer.png"></div><div class="relative rounded-[40px] overflow-hidden shadow-[0_40px_80px_-20px_rgba(0,0,0,0.2)] border-8 border-white group-hover:shadow-[0_40px_100px_-20px_rgba(236,32,34,0.15)] transition-all duration-500"><img alt="Swift Networks Unlimited Downloads" class="w-full h-full object-cover aspect-[4/5] lg:aspect-auto" src="~/Content/swift.jpg"><div class="absolute bottom-8 right-8 bg-swift-red text-white p-6 rounded-3xl shadow-2xl rotate-3 scale-110 md:scale-125 border-4 border-white animate-bounce-slow"><p class="text-xs font-black uppercase tracking-tighter opacity-80 mb-1">BUNDLE OFFER</p><p class="text-3xl font-black">₦50,000</p><p class="text-[10px] font-bold uppercase">with 4G LTE Modem</p></div></div></div></div><style>
        @@keyframes fadeIn {
          from { opacity: 0; transform: translateY(20px); }
          to { opacity: 1; transform: translateY(0); }
        }
        .animate-fadeIn {
          animation: fadeIn 0.8s ease-out forwards;
        }
        @@keyframes bounce-slow {
          0%, 100% { transform: translateY(0) rotate(3deg); }
          50% { transform: translateY(-10px) rotate(3deg); }
        }
        .animate-bounce-slow {
          animation: bounce-slow 4s ease-in-out infinite;
        }
        @@keyframes limitedBadge {
          0%, 100% { transform: translateY(0) scale(1); box-shadow: 0 35px 60px -35px rgba(15,23,42,0.6); }
          50% { transform: translateY(-6px) scale(1.02); box-shadow: 0 40px 80px -30px rgba(15,23,42,0.7); }
        }
        .animate-limited-badge {
          animation: limitedBadge 3.5s ease-in-out infinite;
        }
      </style></section></div><div class="reveal-on-scroll transition-all duration-1000 delay-100 opacity-100 translate-y-0"><section id="features" class="py-24 bg-white"><div class="container mx-auto px-4 md:px-6"><div class="max-w-3xl mx-auto text-center mb-20"><h2 class="text-sm font-black text-swift-red tracking-[0.3em] uppercase mb-4">Core Performance</h2><p class="text-4xl md:text-5xl font-black text-slate-900 leading-tight">Better Internet for <br>Better Productivity</p></div><div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10"><div class="group p-10 rounded-[40px] border border-slate-100 bg-slate-50 hover:bg-white hover:shadow-2xl hover:shadow-swift-red/10 transition-all duration-500 transform hover:-translate-y-2"><div class="w-16 h-16 rounded-2xl bg-swift-red shadow-[0_10px_20px_-5px_rgba(236,32,34,0.4)] flex items-center justify-center mb-8 group-hover:scale-110 transition-transform duration-500"><svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg></div><h3 class="text-xl font-black text-slate-900 mb-4">Fast &amp; Reliable Speed</h3><p class="text-slate-500 leading-relaxed text-sm font-medium italic">Engineered for consistent performance. Whether you are in Ikeja or Lekki, expect the same high-speed browsing.</p></div><div class="group p-10 rounded-[40px] border border-slate-100 bg-slate-50 hover:bg-white hover:shadow-2xl hover:shadow-swift-red/10 transition-all duration-500 transform hover:-translate-y-2"><div class="w-16 h-16 rounded-2xl bg-swift-red shadow-[0_10px_20px_-5px_rgba(236,32,34,0.4)] flex items-center justify-center mb-8 group-hover:scale-110 transition-transform duration-500"><svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></div><h3 class="text-xl font-black text-slate-900 mb-4">No Speed Throttling</h3><p class="text-slate-500 leading-relaxed text-sm font-medium italic">Unlike competitors, we don't slow you down after heavy use. Truly unlimited means full speed, all the time.</p></div><div class="group p-10 rounded-[40px] border border-slate-100 bg-slate-50 hover:bg-white hover:shadow-2xl hover:shadow-swift-red/10 transition-all duration-500 transform hover:-translate-y-2"><div class="w-16 h-16 rounded-2xl bg-swift-red shadow-[0_10px_20px_-5px_rgba(236,32,34,0.4)] flex items-center justify-center mb-8 group-hover:scale-110 transition-transform duration-500"><svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path></svg></div><h3 class="text-xl font-black text-slate-900 mb-4">30-Day Money Back</h3><p class="text-slate-500 leading-relaxed text-sm font-medium italic">Experience total peace of mind. If you are not satisfied with our service within 30 days, we give you your money back.</p></div><div class="group p-10 rounded-[40px] border border-slate-100 bg-slate-50 hover:bg-white hover:shadow-2xl hover:shadow-swift-red/10 transition-all duration-500 transform hover:-translate-y-2"><div class="w-16 h-16 rounded-2xl bg-swift-red shadow-[0_10px_20px_-5px_rgba(236,32,34,0.4)] flex items-center justify-center mb-8 group-hover:scale-110 transition-transform duration-500"><svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path></svg></div><h3 class="text-xl font-black text-slate-900 mb-4">Lagos Local Experts</h3><p class="text-slate-500 leading-relaxed text-sm font-medium italic">Support that understands your neighborhood. Fast resolution for all connectivity issues, guaranteed.</p></div></div></div></section></div><div class="reveal-on-scroll transition-all duration-1000 delay-100 opacity-100 translate-y-0"><section id="plans" class="py-24 bg-swift-light relative overflow-hidden"><div class="absolute top-0 right-0 w-96 h-96 bg-swift-red/5 rounded-full blur-[100px] -mr-48 -mt-48"></div><div class="container mx-auto px-4 md:px-6 relative z-10"><div class="max-w-6xl mx-auto"><div class="text-center mb-16"><h2 class="text-4xl md:text-5xl font-black text-swift-dark mb-4">The Best Deal in Lagos</h2><div class="w-24 h-2 bg-swift-red mx-auto rounded-full mb-6"></div></div><div class="bg-white rounded-[40px] shadow-[0_30px_60px_-15px_rgba(0,0,0,0.1)] overflow-hidden grid lg:grid-cols-5 border border-slate-100"><div class="lg:col-span-3 p-8 md:p-14"><div class="flex items-center gap-3 mb-8"><span class="bg-swift-red text-white px-4 py-1 rounded-full text-xs font-black uppercase tracking-widest shadow-lg shadow-swift-red/20">Exclusive Promo</span><span class="bg-slate-100 text-slate-500 px-3 py-1 rounded-full text-xs font-bold uppercase tracking-widest">4G LTE Bundle</span></div><h3 class="text-4xl font-black text-slate-900 mb-6">Unlimited Downloads <br><span class="text-swift-red">Without Limits</span></h3><div class="grid md:grid-cols-2 gap-x-8 gap-y-6 mb-10"><div class="flex flex-col"><span class="text-[10px] font-black uppercase text-slate-400 tracking-wider mb-1">Modem Type</span><span class="text-slate-800 font-bold">High-Performance 4G LTE</span></div><div class="flex flex-col"><span class="text-[10px] font-black uppercase text-slate-400 tracking-wider mb-1">Data Cap</span><span class="text-slate-800 font-bold">Truly Unlimited (Zero FUP)</span></div><div class="flex flex-col"><span class="text-[10px] font-black uppercase text-slate-400 tracking-wider mb-1">Speeds</span><span class="text-slate-800 font-bold">Up to 20 Mbps</span></div><div class="flex flex-col"><span class="text-[10px] font-black uppercase text-slate-400 tracking-wider mb-1">Support</span><span class="text-slate-800 font-bold">24/7 Lagos Priority</span></div></div><div class="flex flex-col sm:flex-row items-center gap-6 pt-6 border-t border-slate-100"><a href="#contact" class="w-full sm:w-auto px-10 py-5 bg-swift-red hover:bg-swift-red-dark text-white font-black rounded-xl shadow-xl transition-all text-center">ORDER NOW</a><p class="text-xs text-slate-400 font-medium">30-Day Money Back Guarantee applies to all new hardware bundles.</p></div></div><div class="lg:col-span-2 bg-swift-dark p-8 md:p-14 flex flex-col justify-center items-center text-center text-white relative"><div class="absolute -top-12 -right-12 w-48 h-48 bg-swift-red/10 rounded-full blur-3xl"></div><span class="text-white/60 font-black uppercase tracking-[0.2em] text-xs mb-4">Total Package</span><div class="mb-2"><span class="text-5xl lg:text-7xl font-black text-white">₦50,000</span></div><p class="text-lg font-bold text-swift-red-light mb-8">with 4G LTE Modem Included</p><div class="space-y-3 w-full max-w-[250px]"><div class="flex justify-between items-center text-sm font-bold opacity-40"><span>Standard Cost</span><span class="line-through">₦96,000</span></div><div class="flex justify-between items-center text-sm font-bold text-green-400 bg-white/5 p-3 rounded-lg border border-white/10"><span>Your Savings</span><span class="text-lg font-black">₦46,000</span></div></div><div class="mt-12 pt-8 border-t border-white/10 w-full"><p class="text-[10px] font-bold text-white/40 uppercase mb-2">Monthly Subscription Renewal</p><p class="text-2xl font-black text-white">₦45,750 <span class="text-xs font-medium text-white/50">/ month</span></p></div></div></div></div></div></section></div><div class="reveal-on-scroll transition-all duration-1000 delay-100 opacity-100 translate-y-0"><section id="how-it-works" class="py-24 bg-white relative"><div class="container mx-auto px-4 md:px-6"><div class="text-center mb-16"><h2 class="text-4xl font-black text-slate-900 mb-4">Start Surfing in 4 Simple Steps</h2><p class="text-slate-600 max-w-xl mx-auto">Getting connected in Lagos shouldn't be stressful. We've streamlined our process to get you online faster than ever.</p></div><div class="grid md:grid-cols-4 gap-12 relative"><div class="hidden md:block absolute top-12 left-1/4 right-1/4 h-0.5 bg-swift-red-light -z-10"></div><div class="text-center group"><div class="w-20 h-20 rounded-full bg-swift-red text-white flex items-center justify-center text-2xl font-black mx-auto mb-6 shadow-xl shadow-swift-red/20 group-hover:scale-110 transition-transform">01</div><h3 class="text-xl font-extrabold text-slate-900 mb-3">Choose Your Bundle</h3><p class="text-slate-500 text-sm leading-relaxed">Select the promo bundle or browse our reliable LTE broadband.</p></div><div class="text-center group"><div class="w-20 h-20 rounded-full bg-swift-red text-white flex items-center justify-center text-2xl font-black mx-auto mb-6 shadow-xl shadow-swift-red/20 group-hover:scale-110 transition-transform">02</div><h3 class="text-xl font-extrabold text-slate-900 mb-3">Instant Chat Sign-up</h3><p class="text-slate-500 text-sm leading-relaxed">Message us on WhatsApp or fill the form. Our Lagos agents respond in under 3 mins.</p></div><div class="text-center group"><div class="w-20 h-20 rounded-full bg-swift-red text-white flex items-center justify-center text-2xl font-black mx-auto mb-6 shadow-xl shadow-swift-red/20 group-hover:scale-110 transition-transform">03</div><h3 class="text-xl font-extrabold text-slate-900 mb-3">Easy Set up (Plug and Play)</h3><p class="text-slate-500 text-sm leading-relaxed">Plug-and-play installation lets you get connected instantly—just plug it in and start using it.</p></div><div class="text-center group"><div class="w-20 h-20 rounded-full bg-swift-red text-white flex items-center justify-center text-2xl font-black mx-auto mb-6 shadow-xl shadow-swift-red/20 group-hover:scale-110 transition-transform">04</div><h3 class="text-xl font-extrabold text-slate-900 mb-3">Stay Unlimited</h3><p class="text-slate-500 text-sm leading-relaxed">Browse, stream, and game without ever worrying about a data cap again.</p></div></div></div></section></div><div class="reveal-on-scroll transition-all duration-1000 delay-100 opacity-100 translate-y-0"><section class="py-24 bg-white"><div class="container mx-auto px-4 md:px-6"><h2 class="text-3xl font-black text-center text-slate-900 mb-16 underline decoration-swift-red decoration-4 underline-offset-8">Loved by Lagos Residents</h2><div class="hidden lg:grid lg:grid-cols-3 gap-10"><div class="p-8 rounded-3xl bg-white border border-slate-100 shadow-xl shadow-slate-200/50"><div class="flex items-center gap-4 mb-6"><div class="w-14 h-14 rounded-full bg-swift-red-light text-center text-swift-red font-black text-2xl flex items-center justify-center ring-2 ring-swift-red/30">T</div><div><p class="font-bold text-slate-900">Tobi Adebayo</p><p class="text-xs font-semibold text-swift-red uppercase tracking-tighter">Freelance Designer, Yaba</p></div></div><p class="text-slate-600 leading-relaxed italic">"Working remotely in Lagos used to be a nightmare with data caps. Swift Networks changed everything. No more checking my dashboard every hour!"</p><div class="flex gap-1 mt-6"><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div></div><div class="p-8 rounded-3xl bg-white border border-slate-100 shadow-xl shadow-slate-200/50"><div class="flex items-center gap-4 mb-6"><div class="w-14 h-14 rounded-full bg-swift-red-light text-center text-swift-red font-black text-2xl flex items-center justify-center ring-2 ring-swift-red/30">M</div><div><p class="font-bold text-slate-900">Mrs. Funmi Okafor</p><p class="text-xs font-semibold text-swift-red uppercase tracking-tighter">Mother of 3, Lekki</p></div></div><p class="text-slate-600 leading-relaxed italic">"The kids stream Netflix while I attend Zoom meetings for work. The speed never drops. Best investment for our household this year."</p><div class="flex gap-1 mt-6"><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div></div><div class="p-8 rounded-3xl bg-white border border-slate-100 shadow-xl shadow-slate-200/50"><div class="flex items-center gap-4 mb-6"><div class="w-14 h-14 rounded-full bg-swift-red-light text-center text-swift-red font-black text-2xl flex items-center justify-center ring-2 ring-swift-red/30">D</div><div><p class="font-bold text-slate-900">Dayo Johnson</p><p class="text-xs font-semibold text-swift-red uppercase tracking-tighter">E-sports Enthusiast, Ikeja</p></div></div><p class="text-slate-600 leading-relaxed italic">"Finally, low ping in Lagos! Downloaded a 100GB game update in record time. Truly unlimited is the way to go."</p><div class="flex gap-1 mt-6"><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div></div></div><div class="lg:hidden"><div class="relative overflow-hidden rounded-3xl border border-slate-100 bg-white shadow-xl shadow-slate-200/50"><div class="flex transition-transform duration-700 ease-out" style="transform: translateX(-200%);"><article class="flex-shrink-0 w-full p-6 md:p-8"><div class="flex items-center gap-4 mb-5"><div class="w-12 h-12 rounded-full bg-swift-red-light text-center text-swift-red font-black text-xl flex items-center justify-center ring-2 ring-swift-red/30">T</div><div><p class="font-bold text-slate-900">Tobi Adebayo</p><p class="text-[10px] font-semibold text-swift-red uppercase tracking-tight">Freelance Designer, Yaba</p></div></div><p class="text-slate-600 leading-relaxed italic text-sm">"Working remotely in Lagos used to be a nightmare with data caps. Swift Networks changed everything. No more checking my dashboard every hour!"</p><div class="flex gap-1 mt-6"><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div></article><article class="flex-shrink-0 w-full p-6 md:p-8"><div class="flex items-center gap-4 mb-5"><div class="w-12 h-12 rounded-full bg-swift-red-light text-center text-swift-red font-black text-xl flex items-center justify-center ring-2 ring-swift-red/30">M</div><div><p class="font-bold text-slate-900">Mrs. Funmi Okafor</p><p class="text-[10px] font-semibold text-swift-red uppercase tracking-tight">Mother of 3, Lekki</p></div></div><p class="text-slate-600 leading-relaxed italic text-sm">"The kids stream Netflix while I attend Zoom meetings for work. The speed never drops. Best investment for our household this year."</p><div class="flex gap-1 mt-6"><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div></article><article class="flex-shrink-0 w-full p-6 md:p-8"><div class="flex items-center gap-4 mb-5"><div class="w-12 h-12 rounded-full bg-swift-red-light text-center text-swift-red font-black text-xl flex items-center justify-center ring-2 ring-swift-red/30">D</div><div><p class="font-bold text-slate-900">Dayo Johnson</p><p class="text-[10px] font-semibold text-swift-red uppercase tracking-tight">E-sports Enthusiast, Ikeja</p></div></div><p class="text-slate-600 leading-relaxed italic text-sm">"Finally, low ping in Lagos! Downloaded a 100GB game update in record time. Truly unlimited is the way to go."</p><div class="flex gap-1 mt-6"><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg class="w-3 h-3 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div></article></div></div><div class="flex items-center justify-between mt-6 text-xs font-semibold text-slate-500"><button type="button" class="px-4 py-2 border border-slate-200 rounded-full hover:border-swift-red transition-colors">Previous</button><div class="flex gap-2"><button type="button" class="w-10 h-1 rounded-full transition-all duration-300 bg-slate-200" aria-label="Show testimonial 1"></button><button type="button" class="w-10 h-1 rounded-full transition-all duration-300 bg-slate-200" aria-label="Show testimonial 2"></button><button type="button" class="w-10 h-1 rounded-full transition-all duration-300 bg-swift-red" aria-label="Show testimonial 3"></button></div><button type="button" class="px-4 py-2 border border-slate-200 rounded-full hover:border-swift-red transition-colors">Next</button></div></div></div></section></div><div class="reveal-on-scroll transition-all duration-1000 delay-100 opacity-100 translate-y-0"><section id="contact" class="py-24 bg-swift-light"><div class="container mx-auto px-4 md:px-6"><div class="max-w-6xl mx-auto bg-white rounded-[40px] shadow-2xl shadow-swift-red/5 overflow-hidden flex flex-col lg:flex-row border border-slate-100"><div class="lg:w-1/2 p-8 md:p-16 bg-swift-red text-white"><h2 class="text-4xl font-black mb-6">Ready to Go Unlimited?</h2><p class="text-white/90 text-lg mb-10">Fill out the form and our activation specialist in Lagos will call you within the hour to schedule your installation.</p><div class="space-y-6"><div class="flex items-start gap-4"><div class="w-12 h-12 bg-white/10 rounded-xl flex items-center justify-center flex-shrink-0"><svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg></div><div><p class="font-bold">Call for Immediate Setup</p><p class="text-white text-sm font-bold tracking-wider opacity-90">020-17-10-10-10</p><p class="text-white text-sm font-bold tracking-wider opacity-90">090-29-24-24-14</p></div></div><div class="flex items-start gap-4"><div class="w-12 h-12 bg-white/10 rounded-xl flex items-center justify-center flex-shrink-0"><svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg></div><div><p class="font-bold">Experience Centers</p><p class="text-white text-sm opacity-90">31B Saka Tinubu Street Victoria Island Lagos</p><p class="text-white text-sm opacity-90">Kings Plaza, 80 Adeniran Ogunsanya Street Surulere Lagos</p></div></div></div><div class="mt-12 p-6 bg-white/10 rounded-2xl border border-white/20"><p class="text-sm font-medium italic">"I switched from a capped plan last month and haven't looked back. 4K streaming is finally a reality in Surulere!"</p><p class="text-xs font-bold mt-2">— Chidi K., Lagos Mainland</p></div></div><div class="lg:w-1/2 p-8 md:p-16"><form class="space-y-6"><div><label class="block text-sm font-bold text-slate-700 mb-2">Full Name</label><input required="" placeholder="E.g. Babatunde Lawal" class="w-full px-5 py-4 bg-slate-50 border border-slate-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-swift-red transition-all" type="text" value="Peter"></div><div><label class="block text-sm font-bold text-slate-700 mb-2">Phone Number</label><input required="" placeholder="080XXXXXXXX" class="w-full px-5 py-4 bg-slate-50 border border-slate-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-swift-red transition-all" type="tel" value="07068352430"></div><div><label class="block text-sm font-bold text-slate-700 mb-2">Primary Area in Lagos</label><input required="" placeholder="Sangotedo, Ajah" class="w-full px-5 py-4 bg-slate-50 border border-slate-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-swift-red transition-all" type="text" value="Ajah"></div><button type="submit" class="w-full py-5 bg-swift-red hover:bg-swift-red-dark text-white font-black rounded-xl shadow-xl shadow-swift-red/20 transition-all transform hover:-translate-y-1">Get Started Now</button><div class="flex items-center justify-center gap-2 pt-4"><svg class="w-4 h-4 text-swift-red" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M2.166 4.9L10 9.503l7.834-4.603A2 2 0 0015.834 3H4.166a2 2 0 00-1.999 1.9zm.065 2.448l7.77 4.56a1 1 0 00.998 0l7.77-4.56A2 2 0 0118 9v7a2 2 0 01-2 2H4a2 2 0 01-2-2V9a2 2 0 01.231-1.652z" clip-rule="evenodd"></path></svg><span class="text-xs text-slate-400 font-medium italic">Reliable LTE broadband, strictly for Lagos.</span></div></form></div></div></div></section></div></main><footer class="bg-swift-dark text-slate-400 py-6 border-t border-swift-red-dark"><div class="container mx-auto px-4 md:px-6 "><div class="flex items-center gap-2 justify-center"><p class="text-sm leading-relaxed opacity-70">We delivers reliable broadband across Lagos. Unlimited data applies for 30 days from activation. Cashback is subject to the 30-day guarantee terms.</p></div></div></footer><a href="https://wa.me/2349029242414?text=Hi+Swift+Networks%2C+I+want+to+chat+about+the+unlimited+data+offer." target="_blank" rel="noopener noreferrer" class="fixed bottom-6 right-6 z-50 flex items-center gap-3 px-4 py-3 bg-green-500 text-white rounded-full shadow-2xl hover:bg-green-600 transition-all hover:scale-105 active:scale-95 animate-pulse justify-center"><svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L0 24l6.335-1.662c1.72.94 3.659 1.437 5.63 1.438h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z"></path></svg><div class="text-sm font-black tracking-wide" style="animation: 4s ease-in-out 0s infinite normal none running floatLabel;">Chat with us</div><style>
        @@keyframes floatLabel {
          0%, 100% { transform: translateY(0); }
          50% { transform: translateY(-4px); }
        }
      </style></a></div></div>
		<script type="module" src="/index.tsx"></script>
	

</body></html>